body {
    height:100%;
    font-family:Helvetica,Arial,sans-serif;
    font-size:small;
    color:#000;
    background-color:#fff;
    margin:3px 8px 0 0;
    padding:0;
}

h1 {
    font-family: Arial,sans-serif;
    font-size:  25px;
    margin: 0px;
    padding: 0px;
    color: #111;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
