/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 janv. 2019, 20:24:52
    Author     : l.marchand
*/
body {
}

.leftSideInscription{
    width: 50%;
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 5%;
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
}

.rightSideInscription{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden; /* Disable horizontal scroll */
   margin-top: 100px;

}

.menu{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size:  30px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3ded0c4;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
