/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 févr. 2019, 10:38:52
    Author     : l.marchand
*/

.menu{

    position: fixed;
    top: 0;
    width: 100%;
    font-size:  30px;
    
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f3ded0c4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

#fragmentBody{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3ded0c4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
}


.leftSideInscription{
    width: 50%;
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 5%;
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
}

.rightSideInscription{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 40%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden; /* Disable horizontal scroll */
   margin-top: 100px;
   margin-right:5%;

}

.middle{
    padding-left: 40%;
    padding-right: 25%;
}

.leftSideContact{
    width: 50%;
    font-size: 15px; /* Increased text to enable scrolling */
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
}

.rightSideContact{
  margin-left:50%;
  z-index: 1; /* Stay on top */
  top:0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden; /* Disable horizontal scroll */
   margin-top: 100px;
   position: fixed;

}

.leftSideMonClient{
        width: 50%;
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 5%;
    margin-top: 60px;
    margin-left: 10%;
}

.rightSideMonClient{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 40%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden; /* Disable horizontal scroll */
   margin-top: 100px;
   margin-right:5%;

}