<?xml version='1.0' encoding='UTF-8' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets"  
      xmlns:h="http://java.sun.com/jsf/html">
    <script src="./resources/js/acceuil.js" type="text/javascript" />
    
    <ui:insert name="metadata"/>
    
    <h:head>  
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
        <h:outputStylesheet library="css" name="default.css"/>    
        <h:outputStylesheet library="css" name="acceuil.css"/>
    </h:head>  
  
<body>

    <div class="menu">
  <ul>
  <li ><a class="active" href="#luhan">YínHáng Banque 银行</a></li>
  <li ><a  href="#news">Actualités</a></li>
  </ul>
    </div>
  
    <div style="margin-left:5%;margin-top:5%">
<div class="sidenav">
    
        <div class="logindiv">
         <h2>Login In</h2>
        <div class="imgcontainer">
           <img src="./resources/img/avatar_client.png" alt="Avatar" class="avatar"/>
        </div>
    
        <h:form> 
            <h1> ESPACE AGENT </h1>
            <div>
                <label for="uname"><b>Username</b></label>
            </div>
            <div>
            <h:inputText id="username" value="#{loginMBean_agent.identifiant}" required="true" requiredMessage="SVP Remplissez le champs"/>
            <h:message for="username" errorStyle="color:red; display:block"/>
            </div>
            <div>
            <label for="psw"><b>Password</b></label>
            </div>
            <div>
            <h:inputSecret id="password" value="#{loginMBean_agent.motDePasse}" required="true" requiredMessage="SVP Remplissez le champs"/> 
            <h:message for="password" errorStyle="color:red; display:block"/>
            </div>
            <div>
            <h:commandButton value="Login" action="#{loginMBean_agent.verifierIdentification}" /> 
            </div>
            
        
            
        </h:form> 
    </div>
        <div >
            <h:link outcome="acceuil.xhtml" value="Perdu? Retourner à l'espace client"/>
        </div>
</div>

    
</div>
    
    <div class="main">  
    <p></p><p></p><p></p>
  <div class="w3-display-container" id="luhan">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>
      
      <img src="./resources/img/img1.jpg" alt="Lights" class="w3-opacity" style="width:80%;margin-left: auto;margin-right: auto"></img>
</div>
     
      <div class="w3-display-container" id="news">
       <h1>Actualité</h1><p></p>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>
       
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>
       
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>

         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec mollis ligula. Nullam pretium congue laoreet. Cras eu mi tempus, iaculis 
            orci non, condimentum enim. Morbi a aliquam felis, sed pellentesque sem. Sed consectetur tempus enim, tempus vehicula turpis mollis quis. Sed jus
            to ipsum, volutpat non nibh sit amet, ornare lacinia est. Nam suscipit lectus sit amet metus cursus interdum. Nunc imperdiet nisi a ultricies soda
            es. Integer nec felis in lacus luctus dignissim a non orci. Nunc porttitor urna id tincidunt consectetur. Mauris dignissim posuere est sed porttito
            r. Quisque et arcu nisl.</p>
       
       
        </div>
    </div>
     
</body>
  
</html>  