<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
            <div class="middle">
                <h:form>
                <h1> Informations personnelles </h1>
                    <p>Nom*:</p>
                    <p><h:inputText id="nom" value="#{inscriptionMBean.nom}" title="Nom" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="nom" errorStyle="color:red; display:block"/></p>
                    <p>Prenom*:</p>
                    <p><h:inputText id="prenom" value="#{inscriptionMBean.prenom}" title="Prenom" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="prenom" errorStyle="color:red; display:block"/></p>
                    
                    <p>Datedenaissance*: yyyy-MM-dd</p>
                    <p><h:inputText id="datedenaissance" value="#{inscriptionMBean.dateDeNaissance}" title="Datedenaissance" required="true" requiredMessage="SVP Remplissez le champs">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                     <h:message for="datedenaissance" errorStyle="color:red; display:block"/></p>
                    
                    <p>Genre*:</p>
                    <h:selectOneMenu value="#{inscriptionMBean.sexe}">
                                    <f:selectItem itemValue="Femme" itemLabel="Femme" />
                                    <f:selectItem itemValue="Homme" itemLabel="Homme" />
                                    <f:selectItem itemValue="Autre" itemLabel="Autre" />
                    </h:selectOneMenu>
                    
                <h1>Adresse</h1>
                    <p>Pays*:</p>
                    <p><h:inputText id="pays" value="#{inscriptionMBean.pays}" title="Pays" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="pays" errorStyle="color:red; display:block"/></p>
                    <p>Codepostal*:</p>
                    <p><h:inputText id="codepostal" value="#{inscriptionMBean.codePostal}" title="Codepostal" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="codepostal" errorStyle="color:red; display:block"/></p>
                    <p>Ville*:</p>
                    <p><h:inputText id="ville" value="#{inscriptionMBean.ville}" title="Ville" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="ville" errorStyle="color:red; display:block"/></p>
                    <p>Rue*:</p>
                    <p><h:inputText id="rue" value="#{inscriptionMBean.rue}" title="Rue" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="rue" errorStyle="color:red; display:block"/></p>
                    <p>Numerorue*:</p>
                    <p><h:inputText id="numerorue" value="#{inscriptionMBean.numeroRue}" title="Numerorue" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="numerorue" errorStyle="color:red; display:block"/></p>
                     
                    <h1>Coordonnées</h1>
                    <p>Email*:</p>
                    <p><h:inputText  id="email" value="#{inscriptionMBean.email}" title="Email" />
                     <h:message for="email" errorStyle="color:red; display:block"/></p>
                    <p>Telephone*:</p>
                    <p><h:inputText id="telephone" value="#{inscriptionMBean.telephone}" title="Telephone" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="telephone" errorStyle="color:red; display:block"/></p>
                    
                    <h1>Informations Compte</h1>
                    <p>Identifiant*:</p>
                    <p><h:inputText id="identifiant" value="#{inscriptionMBean.identifiant}" title="Identifiant" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="identifiant" errorStyle="color:red; display:block"/></p>
                    <p>Motdepasse*:</p>
                    <p><h:inputText  id="motdepasse" value="#{inscriptionMBean.motDePasse}" title="Motdepasse" required="true" requiredMessage="SVP Remplissez le champs"/>
                     <h:message for="motdepasse" errorStyle="color:red; display:block"/></p>
                    
                    
                    
                    <h:commandButton value="Inscrire le client" action="#{inscriptionMBean.inscrireClientParBanquier(loginMBean_agent.banquier)}" /> 
                    
                   
                      
            </h:form>
            </div>
            
            </ui:define>

        </ui:composition>

    </body>
</html>
