<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    
    <body>

        <ui:composition template="./template_client.xhtml">
            
            <ui:define name="complementTitreEtH1">
                Mes Comptes
            </ui:define>

            <ui:define name="content">
                
                <f:view>

                    <h:form>
                        <h1><h:outputText value="Mes Comptes"/></h1>
                        <p:dataTable value="#{mesComptesClientMBean.getActiveCompteBancaireClient(loginMBean.identifiant)}" var="item" rows="10" paginator="true" selectionMode="single" selection="#{mesComptesClientMBean.selectedCompte}" rowKey="#{item.iBANCB}">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nomCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Solde"/>
                                </f:facet>
                                <h:outputText value="#{item.soldeCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="iBAN"/>
                                </f:facet>
                                <h:outputText value="#{item.iBANCB}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateCreation"/>
                                </f:facet>
                                <h:outputText value="#{item.dateCreationCB}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="TransactionMax"/>
                                </f:facet>
                                <h:outputText value="#{item.transactionMaxCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="TypeDeCompte"/>
                                </f:facet>
                                <h:outputText value="#{item.typeDeCompte.nomTC}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                    


                    <h:form>
                        <h1><h:outputText value="Transaction Des Comptes"/></h1>
                        <p:dataTable value="#{mesComptesClientMBean.getTransactionClient(loginMBean.identifiant)}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CompteDebit"/>
                                </f:facet>
                                <h:outputText value="#{item.compteDebit.client.nom} #{item.compteDebit.client.prenom} #{item.compteDebit.iBANCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CompteCredit"/>
                                </f:facet>
                                <h:outputText value="#{item.compteCredit.client.nom} #{item.compteCredit.client.prenom} #{item.compteCredit.iBANCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="SommeTransferee"/>
                                </f:facet>
                                <h:outputText value="#{item.sommeTransferee}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Libelle"/>
                                </f:facet>
                                <h:outputText value="#{item.libelle}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Status"/>
                                </f:facet>
                                <h:outputText value="#{item.status}"/>
                            </p:column>
                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="DateTransfert"/>
                                </f:facet>
                                <h:outputText value="#{item.dateTransfert}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:form>

                </f:view>

                
            </ui:define>

        </ui:composition>

    </body>
</html>

