<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                <h1>Mes Clients</h1>
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Sélectionner un client:"/></h1>
                        <p:dataTable value="#{mesClientsMBean_agent.getClientList(loginMBean_agent.banquier.identifiantBanquier)}" var="item" selectionMode="single" selection="#{loginMBean_agent.selectedClient}" rowKey="#{item.identifiant}" >
                            
                            <p:column headerText="Id">
                                <h:outputText value="#{item.idClient}"/>
                            </p:column>
                            <p:column headerText="Nom">
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column headerText="Prenom">
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            
                            <p:column headerText="Identifiant">
                                <h:outputText value="#{item.identifiant}"/>
                            </p:column>
                            
                            <p:column headerText="Date de naissance">
                                <h:outputText value="#{item.dateDeNaissance}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            
                            <p:column headerText="Email">
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                             <f:facet name="footer">
                                <h:commandButton action="#{mesClientsMBean_agent.goToClient()}" value="Select"/>
                            </f:facet>
                            
                            
                        </p:dataTable>
                    </h:form>
                    <h:link outcome="inscription_newclient_agent.xhtml" value="Créer un nouveau client"/>
                </f:view>

                
            </ui:define>

        </ui:composition>

    </body>
</html>
