<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                 <div class="middle">
                
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Modifier profil de #{loginMBean_agent.selectedClient.nom} #{loginMBean_agent.selectedClient.prenom}"/></h1>
                        
                            <h1> Informations personnelles </h1>
                             <h:panelGrid columns="3">
                            <h:outputText value="Nom*:"/>
                            <h:inputText value="#{loginMBean_agent.selectedClient.nom}" id="nom" title="Nom" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="nom" errorStyle="color:red; display:block"/>
                            <h:outputText value="Prenom*:"/>
                            <h:inputText value="#{loginMBean_agent.selectedClient.prenom}" id="prenom" title="Prenom" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="prenom" errorStyle="color:red; display:block"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2">
                            <h:outputText value="Datedenaissance: yyyy-MM-dd"/>
                            <h:inputText id="datedenaissance" value="#{loginMBean_agent.selectedClient.dateDeNaissance}" title="Datedenaissance" >
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:inputText>
                            <h:outputText value="Genre"/>
                            <h:selectOneMenu value="#{loginMBean_agent.selectedClient.sexe}">
                                    <f:selectItem itemValue="Femme" itemLabel="Femme" />
                                    <f:selectItem itemValue="Homme" itemLabel="Homme" />
                                    <f:selectItem itemValue="Autre" itemLabel="Autre" />
                            </h:selectOneMenu>
                            </h:panelGrid>
                                
                            <h1>Adresse</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <h:inputText value="#{loginMBean_agent.selectedClient.pays}" id="pays"/>
                            <h:outputText value="Codepostal:"/>
                            <h:inputText   value="#{loginMBean_agent.selectedClient.codePostal}" id="codepostal"/>
                            <h:outputText value="Ville:"/>
                            <h:inputText   value="#{loginMBean_agent.selectedClient.ville}" id="ville"/>
                            <h:outputText value="Rue:"/>
                            <h:inputText   value="#{loginMBean_agent.selectedClient.rue}" id="rue"/>
                            <h:outputText value="Numerorue:"/>
                            <h:inputText  value="#{loginMBean_agent.selectedClient.numeroRue}" id="numerorue" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            </h:panelGrid>
                            
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <h:inputText value="#{loginMBean_agent.selectedClient.email}" id="email"/>
                            <h:outputText value="Telephone:"/>
                            <h:inputText  value="#{loginMBean_agent.selectedClient.telephone}" id="telephone" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            </h:panelGrid>
                            
                            <h1>Informations Login :</h1>
                            <p>NON MODIFIABLE</p>
                            <h:panelGrid columns="2">
                            <h:outputText value="Identifiant:"/>
                            <h:outputText   value="#{loginMBean_agent.selectedClient.identifiant}" id="identifiant"/>
                            <h:outputText value="Motdepasse:"/>
                            <h:outputText    value="****" id="motdepasse"/>
                           </h:panelGrid>
                            
                        <h:commandButton value="Sauvegarder" action="#{loginMBean_agent.updateValuesClient}" />
                    </h:form>
                </f:view>
                    
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
