<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                <div class='middle'>
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Ajouter un nouveau compte"/></h1>                        
                         <h:panelGrid columns="3">
                            <h:outputLabel value="iBAN*:" for="iBAN" />
                            <h:inputText id="iBAN" value="#{mesClientsMBean_agent.iBAN}" title="iBAN" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="iBAN" errorStyle="color:red; display:block"/>
                            <h:outputLabel value="Nom*:" for="nomCompte" />
                            <h:inputText id="nom" value="#{mesClientsMBean_agent.nomCompte}" title="Nom" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="nom" errorStyle="color:red; display:block"/>
                            <h:outputLabel value="Solde*:" for="Solde" />
                            <h:inputText id="Solde" value="#{mesClientsMBean_agent.solde}" title="Solde" required="true" requiredMessage="SVP Remplissez le champs" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            <h:message for="Solde" errorStyle="color:red; display:block"/>
                            <h:outputLabel value="Transaction Max*:" for="Transaction Max" />
                            <h:inputText id="TransactionMax" value="#{mesClientsMBean_agent.transactionMax}" title="Transaction Max" required="true" requiredMessage="SVP Remplissez le champs" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            <h:message for="TransactionMax" errorStyle="color:red; display:block"/>
                            
    
    
                        </h:panelGrid>
                        <h:commandButton value="Ajouter" action="#{mesClientsMBean_agent.ajouterCompte(loginMBean_agent.selectedClient)}" /> 
                    </h:form>
                </f:view>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
