<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                
                <div class="leftSideMonClient">
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Profil de #{loginMBean_agent.selectedClient.nom} #{loginMBean_agent.selectedClient.prenom}"/> -- <h:link outcome="monClient_modifierProfil_agent.xhtml" value="Modifier"/> </h1>
                        
                            <h1> Informations personnelles </h1>
                             <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean_agent.selectedClient.nom}" title="Nom"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean_agent.selectedClient.prenom}" title="Prenom"/>
                            <h:outputText value="Datedenaissance:"/>
                            <h:outputText value="#{loginMBean_agent.selectedClient.dateDeNaissance}" title="Datedenaissance">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                            <h:outputText value="Sexe:"/>
                            <h:outputText value="#{loginMBean_agent.selectedClient.sexe}" title="Sexe"/>
                            </h:panelGrid>
                                
                            <h1>Adresse</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.pays}" title="Pays"/>
                            <h:outputText value="Codepostal:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.codePostal}" title="Codepostal"/>
                            <h:outputText value="Ville:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.ville}" title="Ville"/>
                            <h:outputText value="Rue:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.rue}" title="Rue"/>
                            <h:outputText value="Numerorue:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.numeroRue}" title="Numerorue"/>
                            </h:panelGrid>
                            
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.email}" title="Email"/>
                            <h:outputText value="Telephone:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean_agent.selectedClient.telephone}" title="Telephone"/>
                            </h:panelGrid>
                            
                            <h1>Informations Login</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Identifiant:"/>
                            <h:outputText value="#{loginMBean_agent.selectedClient.identifiant}" title="Identifiant"/>
                            <h:outputText value="Motdepasse:"/>
                            <h:outputText value="****" title="Motdepasse"/>
                           </h:panelGrid>
                            
                    </h:form>
                </f:view>
                
                </div>
                
                <div class="rightSideMonClient">
                
                 
                <f:view>

                    <h:form>
                        <h1><h:outputText value="Comptes de #{loginMBean_agent.selectedClient.nom} #{loginMBean_agent.selectedClient.prenom}"/></h1> -- <h:link outcome="monClient_ajouterCompte_agent.xhtml" value="Ajouter Compte"/>
                        <p:dataTable value="#{mesComptesClientMBean.getCompteBancaireClient(loginMBean_agent.selectedClient.identifiant)}" var="item" rows="10" paginator="true" selectionMode="single" selection="#{mesComptesClientMBean.selectedCompte}" rowKey="#{item.iBANCB}">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nomCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Solde"/>
                                </f:facet>
                                <h:outputText value="#{item.soldeCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="iBAN"/>
                                </f:facet>
                                <h:outputText value="#{item.iBANCB}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateCreation"/>
                                </f:facet>
                                <h:outputText value="#{item.dateCreationCB}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="TransactionMax"/>
                                </f:facet>
                                <h:outputText value="#{item.transactionMaxCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="TypeDeCompte"/>
                                </f:facet>
                                <h:outputText value="#{item.typeDeCompte.nomTC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Actif"/>
                                </f:facet>
                                <h:outputText value="#{item.actifCB}"/>
                            </p:column>
                            <f:facet name="footer">
                                <h:commandButton action="#{mesComptesClientMBean.desactiverCompte(mesComptesClientMBean.selectedCompte)}" value="Desactiver Compte Selectionné (!!)"/> <h:commandButton action="#{mesComptesClientMBean.activerCompte(mesComptesClientMBean.selectedCompte)}" value="Activer Compte Selectionné (!!)"/>
                            </f:facet>

                        </p:dataTable>
                    </h:form>                   


                    <h:form>
                        <h1><h:outputText value="Transaction Des Comptes"/></h1>
                        <p:dataTable value="#{mesComptesClientMBean.getTransactionClient(loginMBean_agent.selectedClient.identifiant)}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CompteDebit"/>
                                </f:facet>
                                <h:outputText value="#{item.compteDebit.client.nom} #{item.compteDebit.client.prenom} #{item.compteDebit.iBANCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CompteCredit"/>
                                </f:facet>
                                <h:outputText value="#{item.compteCredit.client.nom} #{item.compteCredit.client.prenom} #{item.compteCredit.iBANCB}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="SommeTransferee"/>
                                </f:facet>
                                <h:outputText value="#{item.sommeTransferee}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Libelle"/>
                                </f:facet>
                                <h:outputText value="#{item.libelle}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Status"/>
                                </f:facet>
                                <h:outputText value="#{item.status}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateTransfert"/>
                                </f:facet>
                                <h:outputText value="#{item.dateTransfert}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:form>

                </f:view>

                
                </div>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
