<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                <div class="middle">
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Mon Profil"/>-- <h:link outcome="monProfil_modifier_agent.xhtml" value="Modifier"/> </h1>
                        <h1> Informations personnelles </h1>
                        <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.nomBanquier}" title="Nom"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.prenomBanquier}" title="Prenom"/>
               
                            <h:outputText value="Genre:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.sexeBanquier}" title="Sexe"/>
                            </h:panelGrid>
                        
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.emailBanquier}" title="Email"/>
                            <h:outputText value="Telephone:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.telephoneBanquier}" title="Telephone"/>
                            </h:panelGrid>
                        
                            <h1>Informations Login</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Identifiant:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.identifiantBanquier}" title="Identifiant"/>
                            <h:outputText value="Motdepasse:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.motDePasseBanquier}" title="Motdepasse"/>
                           </h:panelGrid>
                            
                            <h1>Informations Agence</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.paysAgence}"/>
                            <h:outputText value="Code Postal:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.codePostalAgence}"/>
                            <h:outputText value="Ville:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.villeAgence}"/>
                            <h:outputText value="Rue:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.rueAgence}"/>
                            <h:outputText value="Numero de rue:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.numeroRueAgence}"/>
                            <h:outputText value="Mail:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.emailAgence}" />
                            <h:outputText value="Telephone:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.telephoneAgence}" />
                            <h:outputText value="SwiftCode:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.agence.swiftCodeAgence}"/>
                            </h:panelGrid>
                            
                         
                    </h:form>
                </f:view>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
