<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template_client.xhtml">


            <ui:define name="content">
                
                <div class="middle">
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Mon Profil"/> -- <h:link outcome="monProfil_modifier_client.xhtml" value="Modifier"/> </h1>
                        
                            <h1> Informations personnelles </h1>
                             <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean.client.nom}" title="Nom"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean.client.prenom}" title="Prenom"/>
                            <h:outputText value="Datedenaissance:"/>
                            <h:outputText value="#{loginMBean.client.dateDeNaissance}" title="Datedenaissance">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                            <h:outputText value="Sexe:"/>
                            <h:outputText value="#{loginMBean.client.sexe}" title="Sexe"/>
                            </h:panelGrid>
                                
                            <h1>Adresse</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.pays}" title="Pays"/>
                            <h:outputText value="Codepostal:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.codePostal}" title="Codepostal"/>
                            <h:outputText value="Ville:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.ville}" title="Ville"/>
                            <h:outputText value="Rue:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.rue}" title="Rue"/>
                            <h:outputText value="Numerorue:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.numeroRue}" title="Numerorue"/>
                            </h:panelGrid>
                            
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.email}" title="Email"/>
                            <h:outputText value="Telephone:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.telephone}" title="Telephone"/>
                            </h:panelGrid>
                            
                            <h1>Informations Login</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Identifiant:"/>
                            <input disabled="disabled" type="text" value="#{loginMBean.client.identifiant}" title="Identifiant"/>
                            <h:outputText value="Motdepasse:"/>
                            <input disabled="disabled" type="password" value="****" title="Motdepasse"/>
                           </h:panelGrid>
                                                       
                            <h1>Information Banquier</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean.client.banquier.nomBanquier}" title="nomBanquier"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean.client.banquier.prenomBanquier}" title="prenomBanquier"/>
                            <h:outputText value="Email:"/>
                            <h:outputText value="#{loginMBean.client.banquier.emailBanquier}" title="emailBanquier"/>
                            <h:outputText value="Telephone:"/>
                            <h:outputText value="#{loginMBean.client.banquier.telephoneBanquier}" title="telephoneBanquier"/>
                             </h:panelGrid>
                            
                            <h1>Informations Agence</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.paysAgence}"/>
                            <h:outputText value="Code Postal:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.codePostalAgence}"/>
                            <h:outputText value="Ville:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.villeAgence}"/>
                            <h:outputText value="Rue:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.rueAgence}"/>
                            <h:outputText value="Numero de rue:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.numeroRueAgence}"/>
                            <h:outputText value="Mail:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.emailAgence}" />
                            <h:outputText value="Telephone:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.telephoneAgence}" />
                            <h:outputText value="SwiftCode:"/>
                            <h:outputText value="#{loginMBean.client.banquier.agence.swiftCodeAgence}"/>
                            </h:panelGrid>
                    </h:form>
                </f:view>
                
                
                
                </div>


                
            </ui:define>

        </ui:composition>

    </body>
</html>
