<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_client.xhtml">

            <ui:define name="content">
                <div class="middle">
                
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Modifier mon profil"/></h1>
                        
                            <h1> Informations personnelles </h1>
                             <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean.client.nom}" title="Nom"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean.client.prenom}" title="Prenom"/>
                            <h:outputText value="Datedenaissance:"/>
                            <h:outputText value="#{loginMBean.client.dateDeNaissance}" title="Datedenaissance">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                            <h:outputText value="Sexe:"/>
                            <h:outputText value="#{loginMBean.client.sexe}" title="Sexe"/>
                            </h:panelGrid>
                                
                            <h1>Adresse</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Pays:"/>
                            <h:inputText value="#{loginMBean.client.pays}" id="pays"/>
                            <h:outputText value="Codepostal:"/>
                            <h:inputText   value="#{loginMBean.client.codePostal}" id="codepostal"/>
                            <h:outputText value="Ville:"/>
                            <h:inputText   value="#{loginMBean.client.ville}" id="ville"/>
                            <h:outputText value="Rue:"/>
                            <h:inputText   value="#{loginMBean.client.rue}" id="rue"/>
                            <h:outputText value="Numerorue:"/>
                            <h:inputText   value="#{loginMBean.client.numeroRue}" id="numerorue" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            </h:panelGrid>
                            
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <h:inputText value="#{loginMBean.client.email}" id="email"/>
                            <h:outputText value="Telephone:"/>
                            <h:inputText  value="#{loginMBean.client.telephone}" id="telephone" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            </h:panelGrid>
                            
                            <h1>Informations Login :</h1>
                            <p>ATTENTION : VOUS DEVREZ VOUS RECONNECTER POUR CONTINUER A NAVIGUER</p>
                            <h:panelGrid columns="3">
                            <h:outputText value="Identifiant*:"/>
                            <h:inputText  value="#{loginMBean.client.identifiant}" id="identifiant" required="true" requiredMessage="SVP Remplissez le champs" />
                            <h:message for="identifiant" errorStyle="color:red; display:block"/>
                            <h:outputText value="Motdepasse*:"/>
                            <h:inputText   value="#{loginMBean.client.motDePasse}" id="motdepasse" required="true" requiredMessage="SVP Remplissez le champs" />
                            <h:message for="motdepasse" errorStyle="color:red; display:block"/>
                           </h:panelGrid>
                            
                        <h:commandButton value="Sauvegarder" action="#{loginMBean.updateValues}" />
                    </h:form>
                </f:view>
                    
                </div>
                   
            </ui:define>

        </ui:composition>

    </body>
</html>
