<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <body>

        <ui:composition template="./template_agent.xhtml">

            <ui:define name="content">
                                <div class="middle">
                
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Mon Profil"/></h1>
                        <h1>Informations personnelles </h1>
                        <h:panelGrid columns="2">
                            <h:outputText value="Nom:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.nomBanquier}" title="Nom"/>
                            <h:outputText value="Prenom:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.prenomBanquier}" title="Prenom"/>
               
                            <h:outputText value="Genre:"/>
                            <h:outputText value="#{loginMBean_agent.banquier.sexeBanquier}" title="Sexe"/>
                            </h:panelGrid>
                        
                            <h1>Coordonnées</h1>
                            <h:panelGrid columns="2">
                            <h:outputText value="Email:"/>
                            <h:inputText value="#{loginMBean_agent.banquier.emailBanquier}" title="Email"/>
                            <h:outputText value="Telephone:"/>
                            <h:inputText value="#{loginMBean_agent.banquier.telephoneBanquier}" title="Telephone" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            </h:panelGrid>
                        
                            <h1>Informations Login</h1>
                            <p>ATTENTION : VOUS DEVREZ VOUS RECONNECTER POUR CONTINUER A NAVIGUER</p>
                            <h:panelGrid columns="3">
                            <h:outputText value="Identifiant*:"/>
                            <h:inputText value="#{loginMBean_agent.banquier.identifiantBanquier}" id="identifiant" title="Identifiant" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="identifiant" errorStyle="color:red; display:block"/>
                            <h:outputText value="Motdepasse*:"/>
                            <h:inputText value="#{loginMBean_agent.banquier.motDePasseBanquier}" id="motdepasse" title="Motdepasse" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="motdepasse" errorStyle="color:red; display:block"/>
                            </h:panelGrid>
                            
                            <h:commandButton value="Sauvegarder" action="#{loginMBean_agent.updateValues}" />
                    </h:form>
                </f:view>
                    
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
