<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    

    <body>

        <ui:composition template="./template_client.xhtml">


            <ui:define name="complementTitreEtH1">
                complementTitreEtH1
            </ui:define>

            <ui:define name="content">
                
                
                <div class="leftSideContact">
                <div class="container">
                    <form action="action_page.php">
                      <div class="row">
                        <div class="col-25">
                          <label for="fname">Nom</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" name="fname" value="#{loginMBean.client.nom}" disabled="disabled" style="width: 300px;"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-25">
                          <label for="email">Votre Email</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="email" name="email" value="#{loginMBean.client.email}" disabled='disabled' style="width: 300px;"/>
                        </div>
                      </div>
                       <div class="col-25">
                          <label for="email">Votre Agent</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="email" name="email" value="#{loginMBean.client.banquier.nomBanquier} #{loginMBean.client.banquier.prenomBanquier} (#{loginMBean.client.banquier.emailBanquier})" disabled='disabled' style="width: 300px;"/>
                        </div>
                      <div class="row">
                        <div class="col-25">
                          <label for="subject">Subject</label>
                        </div>
                        <div class="col-75">
                            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px; width: 300px;" ></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <input type="submit" value="Submit" disabled="disabled"/>
                      </div>
                    </form>
                  </div>
                    </div>
                        
                <div class="rightSideContact" >
                    <h1>Contactez-nous</h1>
                    <p></p>
                    <div class="row">   
                        <div class="column">
                            <h1>Venez à une de nos agences</h1>
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.5342060767607!2d2.304014815717397!3d48.86709197928832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdcaa0cb549%3A0x607d018620c897d7!2sAvenue+Montaigne%2C+75008+Paris!5e0!3m2!1sfr!2sfr!4v1548701353991" width="50%" height="40%" frameborder="0" style="border:0"></iframe>
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46352.692674140606!2d-1.6093424839423163!3d43.43881180194292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd511485dbe2ddab%3A0x397f12070d065e06!2s64210+Bidart!5e0!3m2!1sfr!2sfr!4v1539261754533" width="50%" height="20%" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>
                    <h1>L'adresse de votre Agence:</h1>
                    <p>#{loginMBean.client.banquier.agence.paysAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.villeAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.codePostalAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.rueAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.numeroRueAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.emailAgence}</p>
                    <p>#{loginMBean.client.banquier.agence.telephoneAgence}</p>
                </div>
                   
                
                
                
            </ui:define>

        </ui:composition>

    </body>
</html>
