<?xml version='1.0' encoding='UTF-8' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets"  
      xmlns:h="http://java.sun.com/jsf/html">
    
   <script src="./resources/js/menu.js" type="text/javascript" />
   <script src="./resources/js/selectTable.js" type="text/javascript" />
  
    <ui:insert name="metadata"/>
    
    <h:head>  
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
        <h:outputStylesheet library="css" name="default.css"/>    
        <h:outputStylesheet library="css" name="templateClient.css"/>   
        <title>Banque&gt;<ui:insert name="complementTitreEtH1"/>#{numEx}</title>  
    </h:head>
  
    <h:body>
        
        
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="mesClients_agent.xhtml">Mes Clients</a>
          <a href="monProfil_agent.xhtml">Mon profil</a>       
          
          <a href="acceuil.xhtml">Deconnexion</a>
        </div>

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
          
            <div class="menu">
                <ul>
                 <li><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span></li>
                 <li><span style="font-size:30px;cursor:pointer" >YínHáng Banque 银行                                Bienvenue #{loginMBean_agent.identifiant}</span></li>
               </ul>
           </div>
            
            <div id="fragmentBody">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div> 
    </h:body>  
  
</html>  