<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    
    <body>

        <ui:composition template="./template_client.xhtml">
                           

            <ui:define name="complementTitreEtH1">
                Effectuer un virement
            </ui:define>

            <ui:define name="content">
                
                <div class="leftSideInscription">
                         
                         <h1>Je veux faire un virement.</h1>
                         
                         <p>->Sélectionner mon compte pour virement:</p>
                         <input type="text" name="compteClient" value="Selectionner votre compte sur le tableau..." disabled="disabled" style="width: 300px"/>
                         
                         <p>Compte bénéficiaire enregistré:</p>
                         <input type="text" name="compteBeneficiaire" value="..." disabled="disabled" style="width: 300px" />
                         
                         <p>Montant du virement: (€)</p>
                         <input type="text" name="montant" value="..." disabled="disabled" />
                         
                         <p>Libellé:</p>
                         <input type="text" name="libellé" value="..." disabled="disabled" />
                         
                         <p><input type="submit" value="Transférer" name="buttonTransferer" disabled="disabled" /></p>
                         
                    
                </div>
                    
                <div class="rightSideInscription">
                    <h:form id="form" >
                        
                        <p:dataTable id="singleSelect" value="#{virementMBean.getActiveCompteBancaireClient(loginMBean.identifiant)}" var="item" rows="10" paginator="true" selectionMode="single" selection="#{virementMBean.selectedCompte}" rowKey="#{item.iBANCB}">
                            <f:facet name="header">
                                Sélectionner mon compte enregistré:
                            </f:facet>
                            <p:column headerText="Nom">
                                <h:outputText value="#{item.nomCB}"/>
                            </p:column>
                            <p:column headerText="Solde">
                                <h:outputText value="#{item.soldeCB}"/>
                            </p:column>
                            <p:column headerText="iBAN">
                                <h:outputText value="#{item.iBANCB}"/>
                            </p:column>
                            <p:column headerText="TransactionMax">
                                <h:outputText value="#{item.transactionMaxCB}"/>
                            </p:column>
                            <p:column headerText="TypeDeCompte">
                                <h:outputText value="#{item.typeDeCompte.nomTC}"/>
                            </p:column>
                            <f:facet name="footer">
                                <h:commandButton action="#{virementMBean.goToSelectCompteBeneficiaire}" value="Select"/>
                            </f:facet>

                        </p:dataTable>
                        
                    </h:form>
                    
                    
                </div>
                
                

                
            </ui:define>

        </ui:composition>

    </body>
</html>
