<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template_client.xhtml">

            <ui:define name="content">
                
                 <div class="leftSideInscription">
                     
                         
                         <h1>Je veux faire un virement.</h1>
                         
                         <p>Mon compte pour virement:</p>
                         <input type="text" name="compteClient" value="#{virementMBean.selectedCompte.nomCB}" disabled="disabled"/>
                         <input type="text" name="numero" value="#{virementMBean.selectedCompte.iBANCB}" disabled="disabled" style="width: 300px"/>
                         
                         <p>->Sélectionner un compte bénéficiaire enregistré:</p>
                         <input type="text" name="compteBeneficiaire" value="Selectionner le compte bénéficiaire..." disabled="disabled" style="width: 300px" />
                         
                         <p>Montant du virement: (€)</p>
                         <input type="text" name="montant" value="0" disabled="disabled" />
                         
                         <p>Libellé:</p>
                         <input type="text" name="libellé" value="Libellé..." disabled="disabled" />
                         
                         <p><input type="submit" value="Transferer" name="buttonTransferer" disabled="disabled" /></p>
                         
                    
                </div>
                
                <div class="rightSideInscription">
                    <h:form id="form">
                        
                        <p:dataTable value="#{virementMBean.getCompteBancaireBeneficiaire(loginMBean.client)}" var="item2" rows="10" paginator="true" selectionMode="single" selection="#{virementMBean.selectedSauvegardeCompteBeneficiaire}" rowKey="#{item2.compteBeneficiaire.iBANCB}">
                                  <f:facet name="header">
                                      Sélectionner mon compte enregistré:
                                  </f:facet>
                                  <p:column headerText="Nom">
                                      <h:outputText value="#{item2.nomSCB}"/>
                                  </p:column>
                                  <p:column headerText="iBAN">
                                      <h:outputText value="#{item2.compteBeneficiaire.iBANCB}"/>
                                  </p:column>
                                  <f:facet name="footer">
                                      <h:commandButton action="#{virementMBean.goToSelectMontant}" value="Select"/>
                                  </f:facet>

                         </p:dataTable>

                    </h:form>
                    
                    <h:link outcome="virement_newCompteBeneficiaire_client.xhtml" value="Ajouter un compte bénéficiaire"/>
                    
                    
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
