<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template_client.xhtml">

            <ui:define name="content">
                <div class="leftSideInscription">
                     
                         
                         <h1>Je veux faire un virement.</h1>
                         
                         <p>Mon compte pour virement:</p>
                         <input type="text" name="compteClient" value="#{virementMBean.selectedCompte.nomCB}" disabled="disabled"/>
                         <input type="text" name="numero" value="#{virementMBean.selectedCompte.iBANCB}" disabled="disabled" style="width: 300px"/>
                         
                         <p>Compte bénéficiaire enregistré:</p>
                         <input type="text" name="compteClient" value="#{virementMBean.selectedSauvegardeCompteBeneficiaire.nomSCB}" disabled="disabled"/>
                         <input type="text" name="numero" value="#{virementMBean.selectedSauvegardeCompteBeneficiaire.compteBeneficiaire.iBANCB}" style="width: 300px" disabled="disabled"/>
                         
                         <p>Montant du virement: (€) (max : #{virementMBean.selectedCompte.transactionMaxCB})</p>
                         
                        <h:form> 
                            <div>
                                <label for="uname"><b>Sommes*</b></label>
                            </div>
                            <div>
                            <h:inputText id="sommes" value="#{virementMBean.sommes}" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" required="true" requiredMessage="SVP Remplissez le champs"/> 
                            <h:message for="sommes" errorStyle="color:red; display:block"/>
                            </div>
                            <div>
                            <label for="psw"><b>Libelle*</b></label>
                            </div>
                            <div>
                            <h:inputText id="libelle" value="#{virementMBean.libelle}" required="true" requiredMessage="SVP Remplissez le champs"/> 
                            <h:message for="libelle" errorStyle="color:red; display:block"/>
                            </div>
                            <div>
                            <h:commandButton value="Transferer" action="#{virementMBean.saveTransfert()}" /> 
                            </div>


                        </h:form> 
                         
                         
                    
                    
            </div>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
