<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template_client.xhtml">

            <ui:define name="content">
                <f:view>


                    <h:form>
                        <h1><h:outputText value="Entrez le nouveau compte bénéficiaire:"/></h1>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Nom*:" />
                            <h:inputText id="NewNom" value="#{virementMBean.nomNewCompteBeneficiaire}" required="true" requiredMessage="SVP Remplissez le champs"/>
                            <h:message for="NewNom" errorStyle="color:red; display:block"/>
                            <h:outputLabel value="IBAN*: (**l'IBAN doit être celui d'un compte existant de la même banque)"  />
                            <h:inputText id="NewIban" value="#{virementMBean.iBANNewCompteBeneficiaire}" required="true" requiredMessage="SVP Remplissez le champs" />
                            <h:message for="NewIban" errorStyle="color:red; display:block"/>
                        </h:panelGrid>
                        
                        <h:commandButton value="Sauvegarder" action="#{virementMBean.addNewCompteBeneficiaire(loginMBean.client)}" />
                    </h:form>
                </f:view>

            </ui:define>

        </ui:composition>

    </body>
</html>
